@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

// フォントサイズ
$a-fz-sm: 1.2rem;
$a-fz-md: 1.4rem;
$a-fz-lg: 1.8rem;
$a-fz-xl: 2.4rem;

// フォントファミリー
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);
$a-font-serif:  游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
$a-font-sans: "Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
$a-font-noto: 'Noto Sans Japanese', sans-serif;

// 行間
$a-lineheight-md: 1.5;