// 色
$a-color-main: #3a8a00;
$a-color-subA: #f2f8ee;
$a-color-subB: #f6f6f6;
$a-color-gray: #999;
$a-color-text: #333;



// 横幅
$a-width-sm: 600px;
$a-width-md: 820px;
$a-width-lg: 1000px;

$a-width-sp-md: 80%;
$a-width-sp-lg: 92%;

$a-paddingX-md: 5.3%;
$a-paddingX-lg: 8%;
$a-paddingX-xl: 11.3%;
$a-paddingX-xxl: 13.3%;

@mixin a-width-sm {
  width: $a-width-sm;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    width: $a-width-sp-md;
  }
}

@mixin a-width-md {
  width: $a-width-md;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    width: $a-width-sp-md;
  }
}

@mixin a-width-lg {
  width: $a-width-lg;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    width: $a-width-sp-lg;
  }
}

// 写真サイズ
$a-photo-md: 368px;

// 角丸
$a-borderradius-sm: 2px;
$a-borderradius-md: 4px;
