.p-history {
}
.p-history-list {
  max-width: $a-width-sm;
  margin: 24px auto 0;
}
.p-history-item {
  display: flex;
  & + & {
    margin-top: 16px;
  }
}
.p-history-itemTitle {
  flex-shrink: 0;
  width: 100px;
  color: $a-color-main;
}
.p-history-itemText {

}
.p-history-itemImg {
  display: block;
  margin-top: 12px;
  width: 100px;
}