.p-message-youtube {
  display: block;
  width: 120px;
  margin: 16px auto 0;
}
.p-message-list {
  margin-top: 56px;
  border-bottom: 1px dashed $a-color-gray;  
}
.p-message-item {
  margin: 24px auto;
  padding-top: 24px;
  border-top: 1px dashed $a-color-gray;  
}
.p-message-itemAnchor {
  display: block;
}
.p-message-date {
  color: $a-color-main;
}
.p-message-itemTitle {
  margin-top: 4px;
  font-size: $a-fz-md;
}
.p-message-itemName {
  margin-top: 4px;
  font-size: $a-fz-sm;
}
.p-message-itemBible {
  margin-top: 4px;
  font-size: 1rem;
}
.p-message-content {
  margin: 24px 0;
  iframe {
    margin-top: 24px;
    width: 100% !important;
  }
  p {
    margin-top: 24px;
  }
}
.p-message-back {
  margin-top: 24px;
  color: $a-color-main;
  text-decoration: underline;
}