.p-pastor-item {
  & + & {
    margin-top: 32px;
  }
}
.p-pastor-img {
  display: block;
  width: 200px;
  margin: 0 auto;
}
.p-pastor-name {
  margin-top: 12px;
  color: $a-color-main;
  font-family: $a-font-serif;
  font-size: $a-fz-lg;
  font-weight: bold;
  text-align: center;
}
.p-pastor-text {
  margin-top: 12px;
}