.p-school-list {
  margin-top: 40px;
  padding: 24px 32px;
  background-color: $a-color-subB;
  list-style: disc;
}
.p-school-item {
  font-size: $a-fz-sm;
  list-style: disc;
  & + & {
    margin-top: 16px;
  }
}
.p-school-title {
  color: $a-color-main;
  font-size: $a-fz-sm;
}