.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 70px;
  background-color: $a-color-subA;
  border-top: 2px solid $a-color-main;
  font-family: $a-font-serif;
}
.c-header-logo {
  font-size: 1.8rem;
}
.c-header-logoText {
  display: block;
  font-size: 1rem;
  line-height: 1;
}
.c-header-open {
  margin-top: 4px;
}
.c-header-openIcon {
  width: 32px;
  margin: 0 auto;
}
.c-header-openIconBar {
  display: block;
  height: 2px;
  width: 100%;
  background-color: $a-color-gray;
  & + & {
    margin-top: 8px;
  }
}
.c-header-openText {
  margin-top: 6px;
  font-size: 0.8rem;
  letter-spacing: 0;
}