.c-page {
  width: $a-width-sp-md;
  max-width: $a-width-md;
  margin: 40px auto;
}
.c-page-title {
  color: $a-color-main;
  font-family: $a-font-serif;
  font-size: $a-fz-xl;
  text-align: center;
}
.c-page-titleText {
  display: block;
  color: $a-color-main;
  font-family: $a-font-serif;
  font-size: $a-fz-lg;
  text-align: center;
}
.c-page-content {
  margin-top: 24px;
}
.c-page-text {
  margin-top: 16px;
}
.c-page-imgWrap {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.c-page-img {
  width: 30%;
  & + & {
    margin-left: 5%;
  }
}
.c-page-list {
  margin-top: 16px;
  padding: 24px 32px;
  background-color: $a-color-subB;
  list-style: disc;
}
.c-page-item {
  font-size: $a-fz-sm;
  list-style: disc;
}