.c-section {
  margin: 24px 0;

  & + & {
    margin-top: 32px;
  }
}
.c-section-title {
  color: $a-color-main;
  font-family: $a-font-serif;
  font-size: $a-fz-lg;
  text-align: center;
}
.c-section-subTitle {
  margin-top: 4px;
  color: $a-color-main;
  font-family: $a-font-serif;
  font-size: $a-fz-md;
  font-weight: normal;
  text-align: center;
}
.c-section-inner {
  & + & {
    margin-top: 24px;
  }
}
.c-section-text {
  max-width: $a-width-sm;
  margin: 16px auto 0; 
}
.c-section-img {
  display: block;
  width: 200px;
  margin: 16px auto 0;
  & + & {
    margin-left: 24px;
  }
  &--sm {
    width: 45%;
  }
}
.c-section-imgWrap {
  display: flex;
  justify-content: center;
  width: 100%;
}